{% extends 'shared/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/form.css' %}" />
{% endblock %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Grand Slam Collections</title>
  </head>
  <body>
    <h1>Add Player to Database</h1>

<div>
    <form action="{% url 'baseballcardapp:players' %}" method="post">
      {% csrf_token %}

          <label for="firstName">First Name </label>
          <input id="firstName" type="text" name="firstName" placeholder="Player First Name">
      
          <label for="lastName">Last Name </label>
          <input id="lastName" type="text" name="lastName" placeholder="Player Last Name">
 
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit">Add Player</button>
    </form>
</div>
  </body>
{% endblock %}