{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Players</title>
  </head>
    <body>
    <h1><a href="{% url 'baseballcardapp:main' %}">Baseball Cards</a> > Players({{all_players|length}})</h1>
    <a href="{% url 'baseballcardapp:player_form' %}"><b>Add a Player to the Database</b></a>
    <body><h4>Last name starts:</h4>
    <a href="{% url 'baseballcardapp:players' %}">All |</a>
    {% for letter in alphabet  %}
    <a href="{% url 'baseballcardapp:players' %}?letter={{letter}}">{{ letter }} |</a>
    {% endfor %}
    </body>
    <ul>
    {% for player in all_players|dictsort:"lastName" %}
        <li>
        <a href="{% url 'baseballcardapp:players' player.id %}">
        {{ player.firstName}} {{ player.lastName }}
        </a>
        </li>
       
    {% endfor %}
    </ul>
  </body>

{% endblock %}