{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Baseball Cards</title>

    <style>
        .navList {
            list-style-type: none;
            display: flex;
            border: 1px solid lightgray;
            padding: 1em;
        }

        .navList__route {
            margin: 0 0.5em;
        }
    </style>


    {% block css %}
    {% endblock %}


</head>

<body>
<h1>Grand Slam Collections</h1> 

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'baseballcardapp:home' %}">Home</a></li>
            {% comment %} <li class="navList__route"><a href="{% url 'baseballcardapp:main' %}">Baseball Card Main</a></li> {% endcomment %}
            <li class="navList__route"><a href="{% url 'baseballcardapp:players' %}">Players</a></li>
            <li class="navList__route"><a href="{% url 'baseballcardapp:sets' %}">Sets</a></li>
            <li class="navList__route"><a href="{% url 'baseballcardapp:mycollection' %}">My Collection</a></li>
            <li class="navList__route"><a href="{% url 'baseballcardapp:login' %}">Login</a></li>
            <li class="navList__route"><a href="{% url 'baseballcardapp:logout' %}">Logout</a></li>
        </ol>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>