{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Grand Slam Collections</title>
  </head>
  <body>
    <h1>Edit Collection Form</h1>

{% if collection.id is not None %}
    <form action="{% url 'baseballcardapp:collection_details' collection.id %}" method="post">
{% endif %}    
      {% csrf_token %}
      <fieldset>
          <label for="notes">Notes: </label>
          <input id="notes" type="text" name="notes" value="{{ collection.notes }}">
      </fieldset>

      {% if collection.id is not None %}
        <input type="hidden" name="actual_method" value="PUT">
        <input type="submit" value="Update" />
      {% endif %}  
    </form>
  </body>
{% endblock %}