{% extends 'shared/base.html' %}

{% load static %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Set</title>
  </head>
  <body>
    <h1><a href="{% url 'baseballcardapp:main' %}">Baseball Cards</a> > <a href="{% url 'baseballcardapp:sets' %}">Sets</a> > {{ set.year }} {{ set.name }}</h1>
    {% for card in cards|dictsort:"cardNumber" %}
  <ul style="list-style-type:none;">
  <li><button>+</button> <a href="{% url 'baseballcardapp:card' card.id %}">{{card.year}} {{set.name}} #{{ card.cardNumber }} {{ card.firstName}} {{card.lastName}}</a>
  </ul>
  {% endfor %}
  </body>
{% endblock %}