{% extends 'shared/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/form.css' %}" />
{% endblock %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Grand Slam Collections</title>
  </head>
  <body>
    <h1>Add Set to Database</h1>
<div>
    <form action="{% url 'baseballcardapp:sets' %}" method="post">
      {% csrf_token %}

          <label for="year">Year: </label>
          <input id="year" type="number" name="year">

          <label for="name">Name: </label>
          <input id="name" type="text" name="name">

          <label for="setnotes">Notes: </label>
          <input id="setnotes" type="text" name="setnotes">

      <input type="submit" value="Add It" />
    </form>
</div>
  </body>
{% endblock %}