{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Sets</title>
    </head>
  <body>
    <h1>Sets({{all_sets|length}})</h1>
    <a href="{% url 'baseballcardapp:set_form' %}">Add a Set to the Database</a>
    <h3>Select a Year</h3>
        <ul style="list-style-type:none;">
    {% for set in all_sets|dictsort:"year" %}
        <li>
           <b>{% ifchanged set.year %} {{ set.year }} {% endifchanged %}</b>
        </li>
    {% endfor %}
    </ul>
  </body>

{% endblock %}