{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/set.css' %}" />
{% endblock %}

{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Sets</title>
    </head>
  <body>
    <h1><a href="{% url 'baseballcardapp:main' %}">Baseball Cards</a> > Sets({{all_sets|length}})</h1>
    <div class="years">
    <b>Browse by Year:</b>
    <a href="{% url 'baseballcardapp:sets'  %}"><b>All</b></a> |
    {% for year in all_years|dictsort:"year" %}
     <a href="{% url 'baseballcardapp:sets'  %}?year={{ year.year }}"><b>{{ year.year }}</b></a> |
    {% endfor %}</div><br>
    <div class="addSet"><b>Can't find a Set?:</b><a href="{% url 'baseballcardapp:set_form' %}">Add a Set to the Database</a></div>
        <ul>
    {% for set in all_sets|dictsort:"year" %}
        <li>
           <a href="{% url 'baseballcardapp:set' set.id %}">{{ set.year }} {{ set.name }}</a>
        </li>
    {% endfor %}
    </ul>
  </body>

{% endblock %}