{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
    <h1>Baseball Cards({{ cardCount }})</h1>
    <a href="{% url 'baseballcardapp:card_form' %}"><b>Add a Card to the Database</b></a><br><br>

<div>
    <table style="border:1px solid black">
            <th colspan="2">Baseball Cards Stats</th>
        <tr style="border: 1px solid black">
            <td>Players:</td><td>{{ playerCount }}</td>
        </tr>
        <tr>
            <td>Cards:</td><td>{{ cardCount }}</td>
        </tr>
        <tr>
            <td>Sets:</td><td>{{ setCount }}</td>
        </tr>
    </table>

<br>
</div>
    <br>
<div>
    <label for="cars">Browse by Players:</label>

        <select name="Select Last Name Initial" id="lastNameInitialFiler">
                <option value="Select First Letter of Last Name">Select First Letter of Last Name</option>
            {% for letter in alphabet  %}
                <option value="">{{letter}}</option>
            {% endfor %}
        </select>
        <br>


    <label for="Sets">Broswe by Sets:</label>

        <select name="Year" id="setYearFilter">
            <option value="Select a Year">Select a Year</option>
            <option value="1990">1990</option>
            <option value="1991">1991</option>
            <option value="1992">1992</option>
            <option value="1993">1993</option>
        </select>
    
</div>
{% endblock %}